<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.res.mapper.ResFunctionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.res.model.ResFunction">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="name_zh" property="nameZh" />
        <result column="type" property="type" />
        <result column="class_name" property="className" />
        <result column="jar_name" property="jarName" />
        <result column="function_desc" property="functionDesc" />
        <result column="command" property="command" />
        <result column="param_desc" property="paramDesc" />
        <result column="return_value" property="returnValue" />
        <result column="example" property="example" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_company" property="isCompany" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
