<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.ass.mapper.AssSolutionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.ass.model.AssSolution">
        <id column="id" property="id" />
        <result column="solution_name" property="solutionName" />
        <result column="solution_desc" property="solutionDesc" />
        <result column="solution_dingding_url" property="solutionDingdingUrl" />
        <result column="solution_gitlab_url" property="solutionGitlabUrl" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
