<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.common.mapper.MetDataTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.common.model.MetDataTable">
        <id column="id" property="id" />
        <result column="dw_id" property="dwId" />
        <result column="tbl_name" property="tblName" />
        <result column="tbl_comment" property="tblComment" />
        <result column="tbl_create_time" property="tblCreateTime" />
        <result column="tbl_update_time" property="tblUpdateTime" />
        <result column="is_pt" property="isPt" />
        <result column="pt_last" property="ptLast" />
        <result column="tbl_lifecycle" property="tblLifecycle" />
        <result column="tbl_type" property="tblType" />
        <result column="tbl_size" property="tblSize" />
        <result column="tbl_col_num" property="tblColNum" />
        <result column="all_row_count" property="allRowCount" />
        <result column="row_count" property="rowCount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
