<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.common.mapper.MetDataColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.common.model.MetDataColumn">
        <id column="id" property="id"/>
        <result column="dw_id" property="dwId"/>
        <result column="tbl_name" property="tblName"/>
        <result column="col_name" property="colName"/>
        <result column="col_type" property="colType"/>
        <result column="col_comment" property="colComment"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <insert id="syncColumnInsert">


        insert into met_data_column(dw_id, tbl_name, col_name, col_type, col_comment)
        select #{dwId} as dw_id, tbl_name, col_name, col_type, col_comment
        from view_met_data_column
        where dw_id = #{dwId}
          and not exists(select 1
                         from met_data_column
                         where tbl_name = view_met_data_column.tbl_name
                           and col_name = view_met_data_column.col_name
                           and dw_id = #{dwId})

    </insert>

    <update id="syncColumnUpdate">
        UPDATE met_data_column t1
            INNER JOIN view_met_data_column t2 ON CONCAT(t1.tbl_name, t1.col_name) = CONCAT(t2.tbl_name, t2.col_name)
        SET t1.col_type    = t2.col_type,
            t1.col_comment = t2.col_comment
        WHERE t2.dw_id = #{dwId}
          and t1.dw_id = #{dwId};

    </update>

    <update id="syncColumnDelete">
        UPDATE met_data_column t1
        SET is_deleted = 1
        WHERE concat(t1.tbl_name, t1.col_name) not in
              (select concat(t2.tbl_name, t2.col_name)
               from view_met_data_column t2
               WHERE dw_id = #{dwId})
          and t1.dw_Id = #{dwId};

    </update>


    <update id="syncColumnRecover">
        UPDATE met_data_column t1
        SET is_deleted = 0
        WHERE concat(t1.tbl_name, t1.col_name) in (select concat(t2.tbl_name, t2.col_name)
                                                   from view_met_data_column t2
                                                   WHERE t2.dw_id = #{dwId})
          and t1.is_deleted = 1
          and t1.dw_Id = #{dwId};

    </update>


</mapper>
