<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.common.mapper.MetDataOverviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.common.model.MetDataOverview">
        <id column="id" property="id" />
        <result column="dw_id" property="dwId" />
        <result column="project_name" property="projectName" />
        <result column="tbl_level" property="tblLevel" />
        <result column="table_name" property="tableName" />
        <result column="table_comment" property="tableComment" />
        <result column="tbl_col_num" property="tblColNum" />
        <result column="tbl_create_time" property="tblCreateTime" />
        <result column="tbl_update_time" property="tblUpdateTime" />
        <result column="tbl_size" property="tblSize" />
        <result column="is_pt" property="isPt" />
        <result column="index1_name" property="index1Name" />
        <result column="index2_name" property="index2Name" />
        <result column="index3_name" property="index3Name" />
        <result column="tbl_type" property="tblType" />
        <result column="label" property="label" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tbl_lifecycle" property="tblLifecycle" />
        <result column="pt_last" property="ptLast" />
    </resultMap>

    <select id="pageQueryList" resultType="com.bigdata.backstage.modules.common.model.MetDataOverview">
        select apply.*,  process.result result,process.user_name approveName
        from met_data_overview over, met_data_overview_label_relation rel
        on over.id = rel.overview_id
        where over.is_deleted =0 and rel.is_deleted =0


    </select>
</mapper>
