<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.common.mapper.ViewMetDetailOutlineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.common.model.ViewMetDetailOutline">
        <result column="tbl_level" property="tblLevel" />
        <result column="tbl_name" property="tblName" />
        <result column="tbl_comment" property="tblComment" />
        <result column="col_name" property="colName" />
        <result column="col_type" property="colType" />
        <result column="col_comment" property="colComment" />
        <result column="tbl_col_num" property="tblColNum" />
        <result column="all_row_count" property="allRowCount" />
        <result column="row_count" property="rowCount" />
        <result column="index1_name" property="index1Name" />
        <result column="index2_name" property="index2Name" />
        <result column="index3_name" property="index3Name" />
        <result column="is_pt" property="isPt" />
        <result column="pt_last" property="ptLast" />
        <result column="tbl_create_time" property="tblCreateTime" />
        <result column="tbl_update_time" property="tblUpdateTime" />
        <result column="tbl_lifecycle" property="tblLifecycle" />
        <result column="tbl_type" property="tblType" />
        <result column="tbl_size" property="tblSize" />
        <result column="etl_tm" property="etlTm" />
        <result column="dt" property="dt" />
    </resultMap>

    <!--数据概览-->
    <select id="getOverview" resultType="com.bigdata.backstage.modules.homepage.vo.DataOverviewVo">
        SELECT
            COUNT( tbl_name ) as totalTblCount,
            SUM( tbl_size ) as totalTblSize,
            SUM( tbl_col_num ) as totalTblCol,
            SUM( all_row_count ) as totalTblRow
        FROM
            (
                SELECT
                    tbl_name,
                    tbl_size,
                    tbl_col_num,
                    all_row_count
                FROM
                    view_met_detail_outline
                WHERE
                    dt = ( SELECT max( dt ) FROM view_met_detail_outline )
                GROUP BY
                    tbl_name,
                    tbl_size,
                    tbl_col_num,
                    all_row_count
            ) t1
    </select>

    <!--数据变化记录数-->
    <select id="getDataChangeNum" resultType="com.bigdata.backstage.modules.homepage.vo.DataChangeVo">
        select
            date_format(str_to_date(dt, '%Y%m%d'),'%Y-%m-%d')  as `date`,
            round(sum(num),2) as dataNum
        from (
                 select
                    dt,
                    all_row_count as num
                 from view_met_detail_outline
                 group by
                    dt,
                    tbl_name,
                    all_row_count
             ) t
        group by dt
        order by dt asc limit #{days}
    </select>

    <!--数据变化占用空间-->
    <select id="getDataChangeSize" resultType="com.bigdata.backstage.modules.homepage.vo.DataChangeVo">
        select
            date_format(str_to_date(dt, '%Y%m%d'),'%Y-%m-%d')  as `date`,
            round(sum(num)/1024,2) as dataNum
        from (
                 select
                     dt,
                     tbl_size as num
                 from view_met_detail_outline
                 group by
                     dt,
                     tbl_name,
                     tbl_size
             ) t
        group by dt
        order by dt asc limit #{days}
    </select>

    <!--数据榜单空间占用-->
    <select id="getDataSizeTop" resultType="com.bigdata.backstage.modules.homepage.vo.DataSizeTop">
        SELECT
            tbl_name as tblName,
            round(tbl_size/1024,2) as tblSize,
            tbl_comment as tblComment
        FROM
            view_met_detail_outline
        WHERE
            dt = ( SELECT max( dt ) FROM view_met_detail_outline )
        GROUP BY
            tbl_name,
            tbl_comment,
            tbl_size
        ORDER BY
            CAST(tbl_size AS DECIMAL) DESC
        LIMIT 10
    </select>

    <!--数据榜单记录数-->
    <select id="getDataCountTop" resultType="com.bigdata.backstage.modules.homepage.vo.DataCountTop">
        SELECT
            tbl_name as tblName,
            round(all_row_count) as tblCount,
            tbl_comment as tblComment
        FROM
            view_met_detail_outline
        WHERE
            dt = ( SELECT max( dt ) FROM view_met_detail_outline )
        GROUP BY
            tbl_name,
            tbl_comment,
            all_row_count
        ORDER BY
            CAST(all_row_count AS DECIMAL) DESC
            LIMIT 10
    </select>

    <!--数据榜单最近新增-->
    <select id="getDataNewTop" resultType="com.bigdata.backstage.modules.homepage.vo.DataCountTop">
        SELECT
            tbl_name as tblName,
            tbl_create_time as createTime,
            tbl_comment as tblComment
        FROM
            view_met_detail_outline
        WHERE
            dt = ( SELECT max( dt ) FROM view_met_detail_outline )
        GROUP BY
            tbl_name,
            tbl_comment,
            tbl_col_num,
            tbl_create_time
        ORDER BY
            tbl_create_time DESC
            LIMIT 10
    </select>

    <!--数据榜单新增记录数-->
    <select id="getDataNewRowTop" resultType="com.bigdata.backstage.modules.homepage.vo.DataCountTop">
        select
            a.tblName as tblName,
            a.tblComment as tblComment,
            (a.tblCount-b.tblCount) as tblCount
        from
            (SELECT
                 tbl_name as tblName,
                 round(all_row_count) as tblCount,
                 tbl_comment as tblComment
             FROM
                 view_met_detail_outline
             WHERE
                 dt = DATE_FORMAT(curdate(),'%Y%m%d')
             GROUP BY
                 tbl_name,
                 tbl_comment,
                 all_row_count
            )a
                LEFT JOIN
            (SELECT
                 tbl_name as tblName,
                 round(all_row_count) as tblCount,
                 tbl_comment as tblComment
             FROM
                 view_met_detail_outline
             WHERE
                 dt = DATE_FORMAT(date_sub(curdate(),interval 1 day),'%Y%m%d')
             GROUP BY
                 tbl_name,
                 tbl_comment,
                 all_row_count
            )b
            on
                a.tblName=b.tblName
        order by a.tblCount-b.tblCount desc
            limit 10
    </select>

    <!--根据表名查询字段-->
    <select id="queryDataField" resultType="com.bigdata.backstage.modules.dataasset.vo.DataFiledVo">
        SELECT
            col_name as colName,
            col_type as colType,
            col_comment as colComment
        FROM
            view_met_detail_outline
        WHERE
            dt = ( SELECT max( dt ) FROM view_met_detail_outline )
        AND tbl_name= #{tblName}
    </select>

</mapper>
