<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.explore.mapper.MetExploreTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.explore.model.MetExploreTask">
        <id column="id" property="id"/>
        <result column="tbl_name" property="tblName"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 历史记录折现图 -->
    <resultMap id="selectHistoryMap" type="com.bigdata.backstage.modules.explore.dto.MetExploreViewHistoryDto">
        <result column="create_date" property="date"/>
        <result column="num" property="tables"/>
        <result column="row_count" property="rows"/>
        <result column="tbl_col_num" property="columns"/>
    </resultMap>

    <!-- 6个标签指标 -->
    <resultMap id="selectIndexMap" type="com.bigdata.backstage.modules.explore.dto.MetExploreViewIndexDto">
        <result column="total_rows" property="totalRows"/>
        <result column="total_tables" property="totalTables"/>
        <result column="total_columns" property="totalColumns"/>
        <result column="today_rows" property="todayRows"/>
        <result column="today_tables" property="todayTables"/>
        <result column="today_columns" property="todayColumns"/>
    </resultMap>

    <select id="selectHistory" resultMap="selectHistoryMap">
        SELECT create_date,
               count(*)       as num,
               sum(row_count) as row_count,
               sum(num)       as tbl_col_num
        from (select dt as create_date,
                     row_count,
                     num
              from ((select dt, table_name, count(*) as num
                     from view_met_quality
                     WHERE dw_id = #{dwId}
                     group by dt, table_name) t1
                  left join met_data_table t2
                    on t1.table_name = t2.tbl_name)) t3
        GROUP BY create_date
        order by create_date
        limit #{limit};

    </select>


    <select id="selectTotal" resultMap="selectIndexMap">
        SELECT ifnull(count(*), 0)       as total_tables
             , ifnull(sum(row_count), 0) as total_rows
             , ifnull(sum(col_num), 0)   as total_columns
        FROM (select dt, table_name, count(*) as col_num, row_count
              from view_met_quality t1
                       left join met_data_table t2
                                 on t1.table_name = t2.tbl_name
              WHERE t1.dw_id = #{dwId}
              group by dt, table_name, row_count) t3;

    </select>
    <select id="selectToday" resultMap="selectIndexMap">
        select ifnull(count(*), 0)       as today_tables
             , ifnull(sum(row_count), 0) as today_rows
             , ifnull(sum(num), 0)       as today_columns
        from (select num,
                     num * row_count   as row_count,
                     num * tbl_col_num as tbl_col_num
              from (select table_name, count(*) as num
                    from view_met_quality
                    where dt = current_date()
                      and dw_id = #{dwId}
                    group by table_name) t1
                       left join met_data_table t2
                                 on t1.table_name = t2.tbl_name) t3
    </select>

</mapper>
