<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.backstage.modules.explore.mapper.ViewExportDataColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigdata.backstage.modules.explore.model.ViewExportDataColumn">
        <result column="dw_id" property="dwId" />
        <result column="table_name" property="tableName" />
        <result column="col_name" property="colName" />
        <result column="col_type" property="colType" />
        <result column="col_comment" property="colComment" />
        <result column="max_len" property="maxLen" />
        <result column="min_len" property="minLen" />
        <result column="max_value" property="maxValue" />
        <result column="min_value" property="minValue" />
        <result column="null_count" property="nullCount" />
        <result column="null_rate" property="nullRate" />
        <result column="value_kind_json" property="valueKindJson" />
        <result column="is_only_value" property="isOnlyValue" />
    </resultMap>

</mapper>
